/* componentes da tela */

.title {
    font-weight: bold;
    color: #2B488A;
}

.flex-row {
    display: flex !important;
    flex-wrap: nowrap !important;
}

/* botão adicionar  */

.button-adicionar {
    height: 35px;
    width: 200px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #2B488A;
}

.button-adicionar:hover {
    background-color: #2B488A;
}

/* componentes de pesquisa  */

.search-form {
    font-size: 13px;
    width: 500px;
}

.search-button {
    width: 37px;
    height: 37px;
    font-size: 13px;
    border-radius: 10px;
    background-color: #2B488A;
}

/* componentes de tabela  */

table {
    background-color: rgb(238, 238, 238);
    width: 100% !important;
}

thead {
    background-color: #2B488A;
    color: white;
}

th {
    border-top: 20px;
    text-align: center;
    border: solid 1px white;
    color: white;
    width: calc(100% / 8);
    font-size: 14px;
    height: 35px;
}

td {
    border: solid 1px white;
    padding-left: 10px;
    width: calc(100% / 5);
    font-size: 14px;
    height: 35px;
}

td.options {
    text-align: center;
    border: solid 1px white;
    padding-left: 20px;
    padding-right: 20px;
}

/* componentes do formulario  */

.input {
    padding: 10px;
    width: 500px;
    height: 40px;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.input.endereco {
    width: 1005px;
}

button.input.form {
    width: 1005px;
    font-weight: bold;
    font-size: 13px;
    background-color: #2B488A;
}

button.input.form:hover {
    background-color: #1c2f5b;
}