table {
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    width: 100% !important;
}

thead {
    background-color: #2B488A;
    color: white;
}

th {
    border-top: 20px;
    text-align: center;
    border: solid 1px white;
    color: white;
    width: calc(100% / 8);
    font-size: 14px;
    height: 35px;
}

td {
    text-align: center;
    border: solid 1px white;
    width: calc(100% / 8);
    font-size: 14px;
    height: 35px;
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
}

.th-first {
    border-top-left-radius: 10px;
}

.th-last {
    border-top-right-radius: 10px;
}