.button-table {
    height: 35px;
    border-radius: 360px;
    background-color: #2B488A;
    font-size: 12px;
    width: 200px;
    margin-right: 10px;
}

.button-table:hover {
    font-weight: bold;
    background-color: #142345;
}

button.input {
    width: 1005px;
    font-weight: bold;
    font-size: 13px;
    background-color: #2B488A;
}

button.input:hover {
    background-color: #1c2f5b;
}

table {
    border-radius: 10px;
    background-color: rgb(232, 232, 232);
    width: 100% !important;
}

thead {
    background-color: #2B488A;
    color: white;
}

th {
    border-top: 20px;
    text-align: center;
    border: solid 1px white;
    color: white;
    width: calc(100% / 8);
    font-size: 14px;
    height: 35px;
}

td {
    text-align: center;
    border: solid 1px white;
    width: calc(100% / 8);
    font-size: 14px;
    height: 35px;
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
}

.th-first {
    border-top-left-radius: 10px;
}

.th-last {
    border-top-right-radius: 10px;
}

.input {
    padding: 10px;
    width: 500px;
    height: 40px;
    border: none;
    font-size: 13px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.input.textarea {
    width: 1005px;
    height: 80px;
}

.title {
    color: #2B488A;
}