body {
    background-image: url(../imagens/background.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.input-text {
    margin-left: 100px;
    margin-right: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    width: 400px;
}

.input-submit {
    margin-left: 100px;
    margin-right: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    width: 400px;
}