body {
    background: linear-gradient(to bottom right, #2B488A, #EC3237);
}

form {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 20px;
}

.input {
    height: 40px;
    border-radius: 10px;
    font-size: 13px;
    width: 300px;
    border: none;
    background-color: rgb(233, 233, 233);
}

button.input {
    background-color: #2B488A;
    font-weight: bold;
}

button.input:hover {
    background-color: #1c2f5b;
}